{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "jest", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-unused-prop-types": false,
    "react/forbid-prop-types": false
  },
  "env": {
    "browser": true
  }
}